<div
  class="container-md px-5 py-3 text-center"
  style="background-color: white;border-radius:25px"
>
  <form action="/admin/add-location/" method="post">
    <div class="mb-3">
      <label for="place_id" class="form-label">ID địa điểm</label>
      <input type="number" class="form-control" id="place_id" name="place_id" />
    </div>
    <div class="mb-3">
      <label for="locationName" class="form-label">Tên địa điểm cách ly</label>
      <input
        class="form-control"
        id="locationName"
        type="text"
        name="place_name"
      />
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Địa chỉ</label>
      <input type="text" class="form-control" id="address" name="address" />
    </div>
    <div class="mb-3">
      <label for="max_capacity" class="form-label">Sức chứa tối đa</label>
      <input
        type="number"
        class="form-control"
        id="max_capacity"
        name="max_capacity"
      />
    </div>
    <div class="mb-3">
      <label for="cur_capacity" class="form-label">Số lượng tiếp nhận hiện tại</label>
      <input
        type="number"
        class="form-control"
        id="cur_capacity"
        name="cur_capacity"
      />
    </div>
    <button type="submit" class="btn btn-primary">Thêm địa điểm</button>
  </form>
</div>