<a class="text-decoration-none" href="/user">
    <div class="logo-details">
        <img class="ml-1 mr-2" src="/img/logo.png" width="50px" alt="">
        <span class="logo_name">Covid<b>Safe</b></span>
    </div>
</a>
<ul class="nav-links">
    
    <li>
        <a id="" href="/user/detailInfo" {{#eq title 'Thông tin cá nhân'}}class="active"{{/eq}}>
            <i class='bx bxs-user-detail'></i>
            <span class="links_name">Thông tin cá nhân</span>
        </a>
    </li>
    <li>
        <a href="/user/packages" {{#eq title 'Gói nhu yếu phẩm'}}class="active"{{/eq}}>
            <i class='bx bx-package'></i>
                <span class="links_name">Gói nhu yếu phẩm</span>
            </a>
        </li>
    <li>
        <a id="" href="/user/manageHistory" {{#eq title 'Lịch sử quản lí'}}class="active"{{/eq}}>
            <i class='bx bx-list-ul'></i>
            <span class="links_name">Lịch sử quản lí</span>
        </a>
    </li>
    <li>
        <a id="" href="/user/payment" {{#eq title 'Lịch sử thanh toán'}}class="active"{{/eq}}>
            <i class='bi bi-credit-card'></i>
            <span class="links_name">Lịch sử thanh toán</span>
        </a>
    </li>

    <li>
        <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            href="#">
            <i class='bx bx-cog'></i>
            <span class="links_name">Cài đặt</span>
        </a>
        <div class="dropdown-menu w-100 bg-success">
            <a class="dropdown-item" href="/user/changePassword">
                <i class='bi bi-lock-fill'></i>
                <p>Đổi mật khẩu</p>
            </a>
            <a class="dropdown-item">
                <i class='bi bi-box-arrow-in-left '></i>
                <p>Đăng xuất</p>
            </a>
        </div>
    </li>
    <li class="log_out">
        <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Đăng xuất</span>
        </a>
    </li>
    
</ul>