<ul class="nav-links">
            <li>
                <a id="" href="#" >
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Trang chính</span>
                </a>
            </li>
            <li>
                <a id="detailInfo" href="/detailInfo" >
                    <i class='bx bxs-user-detail'></i>
                    <span class="links_name">Thông tin cá nhân</span>
                </a>
            </li>
            <li>
                <a id="supplies" href="/supplies">
                    <i class='bx bx-box'></i>
                    <span class="links_name">Nhu yếu phẩm</span>
                </a>
            </li>
            <li>
                <a id="manageHistory" href="/manageHistory">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">Lịch sử quản lí</span>
                </a>
            </li>
            <li>
                <a id="payment" href="/payment">
                    <i class='bi bi-credit-card'></i>
                    <span class="links_name">Lịch sử thanh toán</span>
                </a>
            </li>
            
            <li>
                <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Cài đặt</span>
                </a>
                <div class="dropdown-menu w-100 bg-success" >
                    <a class="dropdown-item" href="/changePassword">
                        <i class='bi bi-lock-fill'></i>
                        <p>Đổi mật khẩu</p>
                    </a>
                    <a class="dropdown-item">
                        <i class='bi bi-box-arrow-in-left '></i>
                        <p>Đăng xuất</p>
                    </a>
                </div>
            </li>
            <li class="log_out">
                <a href="#">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Đăng xuất</span>
                </a>
            </li>
        </ul>