<html lang="en" dir="ltr">

  <head>
    <meta charset="UTF-8" />
    <title> {{{title}}} </title>
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="icon" href="/img/logo.png" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"
    />
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="/css/table.css" />
    {{>(cssP)}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>

    <div class="sidebar" style="width: 300px;">
      <a class="text-decoration-none" href="/sales-channel">
        <div class="logo-details">
          <img class="ml-1 mr-2" src="/img/logo.png" width="50px" alt="" />
          <span class="logo_name">Covid<b>Safe</b></span>
        </div>
      </a>
      <ul class="nav-links">
        <li>
          <a href="/admin">
            <i class="bx bx-list-ul"></i>
            <span class="links_name">Tài khoản người quản lý</span>
          </a>
        </li>
        <li>
          <a href="/admin/locations">
            <i class="bx bx-box"></i>
            <span class="links_name">Địa điểm điều trị/cách ly</span>
          </a>
        </li>
        
        <li class="log_out">
          <a href="#">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Đăng xuất</span>
          </a>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class="bx bx-menu sidebarBtn"></i>
          <span class="dashboard">{{{title}}}</span>
        </div>
        <div class="profile-details">
          <img src="/img/logo.png" alt="" />
          <span class="admin_name text-success">ADMIN</span>
        </div>
      </nav>

      <div class="home-content">
        <div class="container-fluid">
          {{{body}}}
        </div>
      </div>

    </section>
{{!-- 
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script> --}}
    {{!-- <script src="/js/management.js"></script> --}}
    
    
    <script src="/js/table.js"></script>
    {{>(scriptP)}}
    
  </body>
</html>