<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> {{{title}}} </title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/management.css">
    {{>(cssP)}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="sidebar">
        <a class="text-decoration-none" href="/sales-channel">
            <div class="logo-details">
                <img class="ml-1 mr-2" src="/img/logo.png" width="50px" alt="">
                <span class="logo_name">Covid<b>Safe</b></span>
            </div>
        </a>
        <ul class="nav-links">
            <li>
                <a href="#" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Trang chính</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">Quản lý người bệnh</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-box'></i>
                    <span class="links_name">Quản lý nhu yếu phẩm</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Thống kê</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-coin-stack'></i>
                    <span class="links_name">Quản lý thanh toán</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Cài đặt</span>
                </a>
            </li>
            <li class="log_out">
                <a href="#">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">{{{title}}}</span>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Nhập tên bệnh nhân muốn tìm kiếm...">
                <i class='bx bx-search'></i>
            </div>
            <div class="profile-details">
                <img src="/img/logo.png" alt="">
                <span class="admin_name text-success">Tên người quản lý</span>
            </div>
        </nav>

        <div class="home-content">
            <div class="container-fluid">
                {{{body}}}
            </div>
        </div>

    </section>

    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/management.js"></script>
    {{>(scriptP)}}


</body>



</html>