<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class=" pb-2 text-left" style=" font-weight:bold"><b>LỊCH SỬ CHUYỂN ĐỔI</b></h4>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr class="align-self-center">
                                    <th>STT</th>
                                    <th>Người quản lí</th>
                                    <th>Thời điểm thực hiện</th>
                                    <th>Trạng thái cũ</th>
                                    <th>Trạng thái mới</th>
                                    <th>Nơi điều trị cũ</th>
                                    <th>Nơi điều trị mới</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Trần Thái Bảo</td>
                                    <td>5/8/2021</td>
                                    <td>F1</td>
                                    <td>F2</td>
                                    <td>Gia Lai</td>
                                    <td>TP Hồ Chí Minh</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>