<div class="container-md px-5 py-3 text-center" style="background-color: white;border-radius:25px">
    <div class="row">
        <div class="col">
            <div class="row">
                <h4 class=" pb-2 text-left" style=" font-weight:bold"><b>DANH SÁCH NGƯỜI BỆNH</b></h4>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-md-12">
                    <form action="" accept-charset="UTF-8" method="get">
                        <div class="input-group">
                            <input type="text" name="search" id="search"
                                style="border:1px solid rgba(0, 106, 255, 0.715); margin-right:5px; border-radius:3px;"
                                placeholder="Tìm kiếm người bệnh" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                                    <i class='bx bx-search'></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center border-bottom py-4">
        <div class="col-2">
            <div class="row" style=" font-weight:bold">Họ tên
                <a href="#">
                    <i class="bx bxs-sort-alt" style="font-size: 20px;"></i>
                </a>
            </div>
        </div>
        <div class="col-2" style="font-weight:bold">CMND
            <a href="#">
                <i class="bx bxs-sort-alt" style="font-size: 20px;"></i>
            </a>
        </div>
        <div class="col-1" style=" font-weight:bold">Năm sinh</div>
        <div class="col-2" style="font-weight:bold">Trạng thái 
            <a href="#">
                <i class="bx bxs-sort-alt" style="font-size: 20px;"></i>
            </a> </div>
        <div class="col-2" style=" font-weight:bold">Nơi điều trị <a href="#">
                <i class="bx bxs-sort-alt" style="font-size: 20px;"></i>
            </a> </div>
        <div class="col-2" style=" font-weight:bold">Các F liên quan</div>
        <div class="col-1" style="font-weight:bold">Lịch sử</div>
    </div>

    <div class="row align-items-center border-bottom py-4">
        <div class="col-2">
            <div class="row">Nguyễn văn A</div>
        </div>
        <div class="col-2">187885151</div>
        <div class="col-1">1992</div>
        <div class="col-2">F0</div>
        <div class="col-2">HCM</div>
        <div class="col-2">Nguyễn văn B</div>
        <div class="col-1">
            <a href="#">
                <i class="bx bx-list-ul" style="font-size: 30px;"></i>
            </a>
        </div>
    </div>
    <div class="row align-items-center border-bottom py-4">
        <div class="col-2">
            <div class="row">Nguyễn văn A</div>
        </div>
        <div class="col-2">187885151</div>
        <div class="col-1">1992</div>
        <div class="col-2">F0</div>
        <div class="col-2">HCM</div>
        <div class="col-2">Nguyễn văn B</div>
        <div class="col-1">
            <a href="#">
                <i class="bx bx-list-ul" style="font-size: 30px;"></i>
            </a>
        </div>
    </div>
    <div class="row align-items-center border-bottom py-4">
        <div class="col-2">
            <div class="row">Nguyễn văn A</div>
        </div>
        <div class="col-2">187885151</div>
        <div class="col-1">1992</div>
        <div class="col-2">F0</div>
        <div class="col-2">HCM</div>
        <div class="col-2">Nguyễn văn B</div>
        <div class="col-1">
            <a href="#">
                <i class="bx bx-list-ul" style="font-size: 30px;"></i>
            </a>
        </div>
    </div>
    <div class="row align-items-center border-bottom py-4">
        <div class="col-2">
            <div class="row">Nguyễn văn A</div>
        </div>
        <div class="col-2">187885151</div>
        <div class="col-1">1992</div>
        <div class="col-2">F0</div>
        <div class="col-2">HCM</div>
        <div class="col-2">Nguyễn văn B</div>
        <div class="col-1">
            <a href="#">
                <i class="bx bx-list-ul" style="font-size: 30px;"></i>
            </a>
        </div>
    </div>
    <div class="row align-items-center border-bottom py-4">
        <div class="col-2">
            <div class="row">Nguyễn văn A</div>
        </div>
        <div class="col-2">187885151</div>
        <div class="col-1">1992</div>
        <div class="col-2">F0</div>
        <div class="col-2">HCM</div>
        <div class="col-2">Nguyễn văn B</div>
        <div class="col-1">
            <a href="#">
                <i class="bx bx-list-ul" style="font-size: 30px;"></i>
            </a>
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#dialog1">
                <i class='bx bx-plus-circle'></i> Thêm gói mới
            </button>
        </div>
    </div>
</div>