<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class=" pb-2 text-left" style=" font-weight:bold"><b>LỊCH SỬ CHUYỂN ĐỔI</b></h4>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr class="align-self-center">
                                    <th>Thời điểm thực hiện</th>
                                    <th>Trạng thái mới</th>
                                    <th>Nơi điều trị mới</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each history}}
                                    <tr>
                                        <td>{{this.update_time}}</td>
                                        <td>F{{this.status}}</td>
                                        <td>{{this.place_name}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>